@import "./styles/list-mixins";

/* wxc-call-history-item styles */
$C: wxc-call-history-item;

.#{$C} {

  @include list-squared;
  @include list-bordered;
  @include list-toggle-active(#{$C}__datetime, #{$C}__actions);

  &__phoneNumber, &__time {
    @include list-sub-text;
  }

  &__name {
    @include list-primary-text;
  }

  &__content-more {
    visibility: hidden;
    height: 0;
  }

  &--is-missed {
    .#{$C}__name,
    .#{$C}__duration {
      color: var(--theme-text-error-normal)
    }
  }

  &__content-wrap {
    flex: 1;
  }

  &__content {
    align-items: center;
  }

  &__direction {
    flex: 1;
    align-self: stretch;
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  &__date {
    @include list-primary-text;
    text-transform: capitalize;
  }

  &__datetime {
    text-align: right;
  }
}
