{
  "plugins": [
    ["babel-plugin-transform-builtin-extend", {
        "globals": ["Error"]
    }],
    ["transform-runtime", {
      "polyfill": false
    }],
    "transform-decorators-legacy",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "lodash"
  ],
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7", "ie 11"]
      }
    }]
  ],
  "env": {
    "development": {
      "plugins": [["react-transform", {
        "transforms": [{
          "transform": "react-transform-hmr",
          "imports": ["react"],
          "locals": ["module"]
        }]
      }]]
    }
  }
}
