**/dist/**
**/es/**
**/cjs/**
./node_modules/**
adapter-interfaces/rollup.config.js
logger/rollup.config.js
samples
scripts
test
widgets
rollup.calling-config.js
wdio.conf.js
react-widgets/rollup.calling-config.js
react-widgets/packages/node_modules/@webex/widgets/jest.config.js
react-widgets/packages/node_modules/@webex/widgets/babel.config.js
react-widgets/packages/node_modules/@webex/widgets/.storybook/preview.js
react-widgets/packages/node_modules/@webex/widgets/.storybook/main.js
react-widgets/packages/node_modules/@webex/widgets/.storybook/globals.js
react-widgets/packages/node_modules/@webex/widgets/.eslintrc.js
react-widgets/scripts/utils/build.js