.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loadingMessage {
  font-family: CiscoSans, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 10px;
  color: #4f5051;
}

.logo {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.spinner {
  font-size: 16px;
}
