# Main Config
version: 2.1

# reusable environment for all jobs
executors:
  main-executor:
    working_directory: ~/react-widgets
    docker:
      - image: circleci/node:carbon-browsers

# Reusable commands for jobs
commands:
  restore_workspace:
    steps:
      - attach_workspace:
          at: ~/react-widgets
  restore_node_modules:
    description: 'Restore the node_modules dependencies cache'
    steps:
      - restore_cache:
          keys:
            - node-module-cache-v1-{{ checksum "package-lock.json" }}
            - node-module-cache-v1-

jobs:
  install:
    executor: main-executor
    steps:
      - checkout
      - restore_node_modules
      - run:
          name: 'Install dependencies'
          command: npm i
      # Cache node_modules across different internal jobs in the workflow and across different circleci runs
      - save_cache:
          key: node-module-cache-v1-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: Save NPM install log
          command: npm ls --json > /tmp/npm_install.log || true
      - store_artifacts:
          path: /tmp/npm_install.log
          destination: npm-install

  unit_tests_and_linting:
    executor: main-executor
    steps:
      - checkout
      - restore_workspace
      - restore_node_modules
      - run:
          name: Run eslint
          command: npm run eslint -- --format junit -o reports/junit/js-lint-results.xml
      - run:
          name: Run all Jest test suites
          command: npm run jest -- --ci -i --testResultsProcessor="jest-junit"
          environment:
            JEST_JUNIT_OUTPUT: reports/junit/jest/js-jest-results.xml
      - store_test_results:
          path: reports/junit
      - store_artifacts:
          path: reports/junit
          destination: junit

  build_for_tests:
    executor: main-executor
    environment:
      - FEDERATION: "true"
      - NODE_ENV: "test"
      - ACL_SERVICE_URL: "https://acl-intb.ciscospark.com/acl/api/v1"
      - ATLAS_SERVICE_URL: "https://atlas-intb.ciscospark.com/admin/api/v1"
      - CONVERSATION_SERVICE: "https://conversation-intb.ciscospark.com/conversation/api/v1"
      - ENCRYPTION_SERVICE_URL: "https://encryption-intb.ciscospark.com/encryption/api/v1"
      - IDBROKER_BASE_URL: "https://idbrokerbts.webex.com"
      - IDENTITY_BASE_URL: "https://identitybts.webex.com"
      - HYDRA_SERVICE_URL: "https://apialpha.ciscospark.com/v1/"
      - WDM_SERVICE_URL: "https://wdm-intb.ciscospark.com/wdm/api/v1"

    steps:
      - checkout
      - restore_workspace
      - restore_node_modules
      - run:
          name: Copy and build journey test static files
          command: npm run build journey dist-test
      - persist_to_workspace:
          root: ~/react-widgets
          paths:
            - dist-test

  journey_tests_chrome:
    executor: main-executor
    environment:
      SAUCE: true
      STATIC_SERVER_PATH: dist-test
    steps:
      - checkout
      - restore_workspace
      - restore_node_modules
      - run: echo "export BUILD_NUMBER=circle-ci-${CIRCLE_BUILD_NUM}" >> $BASH_ENV
      - run:
          name: Integration Tests Chrome
          no_output_timeout: 15m
          command: |
            set -em
            BROWSER=chrome npm run test:integration
      - store_test_results:
          path: reports/junit/wdio
      - store_artifacts:
          path: reports/junit/wdio
          destination: wdio
      - store_artifacts:
          path: /home/circleci/.npm/_logs/
          destination: npm-logs
      - store_artifacts:
          path: reports/browser
          destination: browser

  journey_tests_firefox:
    executor: main-executor
    environment:
      SAUCE: true
      STATIC_SERVER_PATH: /tmp/workspace/dist-test
    steps:
      - checkout
      - restore_workspace
      - restore_node_modules
      - run: echo "export BUILD_NUMBER=circle-ci-${CIRCLE_BUILD_NUM}" >> $BASH_ENV
      - run:
          name: Integration Tests Firefox
          no_output_timeout: 15m
          command: |
            set -em
            BROWSER=firefox npm run test:integration
      - store_test_results:
          path: reports/junit/wdio
      - store_artifacts:
          path: reports/junit/wdio
          destination: wdio
      - store_artifacts:
          path: /home/circleci/.npm/_logs/
          destination: npm-logs
      - store_artifacts:
          path: reports/browser
          destination: browser

  versioning_and_publish:
    executor: main-executor
    steps:
      - checkout
      - restore_node_modules
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run:
          name: 'Generate Version Number'
          command: |
            npm run release -- --release-as patch --no-verify
            echo "export VERSION=$(grep "version" package.json | head -1 | awk -F: '{ print $2 }' | sed 's/[", ]//g')" >> $BASH_ENV
            git rev-parse HEAD > gitcommit
      - run:
          name: 'Build for CDN'
          command: |
            export NODE_ENV=production
            export WEBEX_SCOPE="Identity:OAuthClient webexsquare:get_conversation webexsquare:admin spark:people_read spark:rooms_read spark:rooms_write spark:memberships_read spark:memberships_write spark:messages_read spark:messages_write spark:applications_read spark:applications_write spark:teams_read spark:teams_write spark:team_memberships_read spark:team_memberships_write spark:bots_read spark:bots_write spark:kms"

            BUILD_PUBLIC_PATH="https://code.s4d.io/widget-space/archives/${VERSION}/" npm run build:package widget-space

            BUILD_PUBLIC_PATH="https://code.s4d.io/widget-space/archives/${VERSION}/" npm run build sri widget-space

            BUILD_BUNDLE_PUBLIC_PATH="https://code.s4d.io/widget-space/archives/${VERSION}/"

            BUILD_PUBLIC_PATH="https://code.s4d.io/widget-space/archives/${VERSION}/demo/" npm run build:package widget-space-demo

            BUILD_PUBLIC_PATH="https://code.s4d.io/widget-recents/archives/${VERSION}/" npm run build:package widget-recents

            BUILD_PUBLIC_PATH="https://code.s4d.io/widget-recents/archives/${VERSION}/" npm run build sri widget-recents

            BUILD_BUNDLE_PUBLIC_PATH="https://code.s4d.io/widget-recents/archives/${VERSION}/"

            BUILD_PUBLIC_PATH="https://code.s4d.io/widget-recents/archives/${VERSION}/demo/" npm run build:package widget-recents-demo

            BUILD_PUBLIC_PATH="https://code.s4d.io/widget-demo/archives/${VERSION}/" npm run build:package widget-demo

            npm run es5-check:dist
      - run:
          name: 'Push to upstream/master'
          command: git push upstream HEAD:master
      - run:
          name: 'Push tag to upstream/master'
          command: git push --tags upstream
      - run:
          name: 'Publish to NPM'
          command: npm run publish:components

workflows:
  run_all_tests:
    jobs:
      - install
      - build_for_tests:
          requires:
            - install
      - unit_tests_and_linting:
          requires:
            - install
      - journey_tests_chrome:
          requires:
            - build_for_tests
      - journey_tests_firefox:
          requires:
            - journey_tests_chrome
  build_for_cdn:
    jobs:
      - install:
          filters:
              branches:
                only: master
      - versioning_and_publish:
          filters:
            branches:
              only: master
          requires:
              - install
