# Main Config
version: 2.1

# reusable environment for all jobs
executors:
  main-executor:
    working_directory: ~/react-widgets
    docker:
      - image: circleci/node:carbon-browsers
        # environment variables for all commands executed in the main-executor
        environment:
          AWS_BUCKET: code.s4d.io
          AWS_REGION: us-east-1

# Orb to grab `s3` capability for us
orbs:
  aws-s3: circleci/aws-s3@1.0.11

# Reusable commands for jobs
commands:
  restore_workspace:
    steps:
      - attach_workspace:
          at: ~/react-widgets
  restore_node_modules:
    description: 'Restore the node_modules dependencies cache'
    steps:
      - restore_cache:
          keys:
            - node-module-cache-v1-{{ checksum "package-lock.json" }}
            - node-module-cache-v1-

jobs:
  install:
    executor: main-executor
    steps:
      - checkout
      - restore_node_modules
      - run:
          name: 'Install dependencies'
          command: npm i
      # Cache node_modules across different internal jobs in the workflow and across different circleci runs
      - save_cache:
          key: node-module-cache-v1-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: Save NPM install log
          command: npm ls --json > /tmp/npm_install.log || true
      - store_artifacts:
          path: /tmp/npm_install.log
          destination: npm-install

  unit_tests_and_linting:
    executor: main-executor
    steps:
      - checkout
      - restore_workspace
      - restore_node_modules
      - run:
          name: Run eslint
          command: npm run eslint -- --format junit -o reports/junit/js-lint-results.xml
      - run:
          name: Run all Jest test suites
          command: npm run jest -- --ci -i --testResultsProcessor="jest-junit"
          environment:
            JEST_JUNIT_OUTPUT: reports/junit/jest/js-jest-results.xml
      - store_test_results:
          path: reports/junit
      - store_artifacts:
          path: reports/junit
          destination: junit

  build_for_tests:
    executor: main-executor
    environment:
      FEDERATION: true
      NODE_ENV: test
      CONVERSATION_SERVICE: https://conversation-intb.ciscospark.com/conversation/api/v1
      HYDRA_SERVICE_URL: https://apialpha.ciscospark.com/v1/
      IDBROKER_BASE_URL: https://idbrokerbts.webex.com
      U2C_SERVICE_URL: https://u2c-intb.ciscospark.com/u2c/api/v1
      WDM_SERVICE_URL: https://wdm-intb.ciscospark.com/wdm/api/v1

    steps:
      - checkout
      - restore_workspace
      - restore_node_modules
      - run:
          name: Copy and build journey test static files
          command: npm run build journey dist-test
      - persist_to_workspace:
          root: ~/react-widgets
          paths:
            - dist-test

  journey_tests_chrome:
    executor: main-executor
    environment:
      SAUCE: true
      STATIC_SERVER_PATH: dist-test
      CONVERSATION_SERVICE: https://conversation-intb.ciscospark.com/conversation/api/v1
      HYDRA_SERVICE_URL: https://apialpha.ciscospark.com/v1/
      IDBROKER_BASE_URL: https://idbrokerbts.webex.com
      U2C_SERVICE_URL: https://u2c-intb.ciscospark.com/u2c/api/v1
      WDM_SERVICE_URL: https://wdm-intb.ciscospark.com/wdm/api/v1
    steps:
      - checkout
      - restore_workspace
      - restore_node_modules
      - run: echo "export BUILD_NUMBER=circle-ci-${CIRCLE_BUILD_NUM}" >> $BASH_ENV
      - run:
          name: Integration Tests Chrome
          no_output_timeout: 15m
          command: |
            set -em
            BROWSER=chrome npm run test:integration
      - store_test_results:
          path: reports/junit/wdio
      - store_artifacts:
          path: reports/junit/wdio
          destination: wdio
      - store_artifacts:
          path: /home/circleci/.npm/_logs/
          destination: npm-logs
      - store_artifacts:
          path: reports/browser
          destination: browser

  journey_tests_firefox:
    executor: main-executor
    environment:
      SAUCE: true
      STATIC_SERVER_PATH: dist-test
      CONVERSATION_SERVICE: https://conversation-intb.ciscospark.com/conversation/api/v1
      HYDRA_SERVICE_URL: https://apialpha.ciscospark.com/v1/
      IDBROKER_BASE_URL: https://idbrokerbts.webex.com
      U2C_SERVICE_URL: https://u2c-intb.ciscospark.com/u2c/api/v1
      WDM_SERVICE_URL: https://wdm-intb.ciscospark.com/wdm/api/v1
    steps:
      - checkout
      - restore_workspace
      - restore_node_modules
      - run: echo "export BUILD_NUMBER=circle-ci-${CIRCLE_BUILD_NUM}" >> $BASH_ENV
      - run:
          name: Integration Tests Firefox
          no_output_timeout: 15m
          command: |
            set -em
            BROWSER=firefox npm run test:integration
      - store_test_results:
          path: reports/junit/wdio
      - store_artifacts:
          path: reports/junit/wdio
          destination: wdio
      - store_artifacts:
          path: /home/circleci/.npm/_logs/
          destination: npm-logs
      - store_artifacts:
          path: reports/browser
          destination: browser

  version_and_publish:
    executor: main-executor
    steps:
      - checkout
      - run: git remote add upstream git@github.com:webex/react-widgets.git
      - restore_node_modules
      - add_ssh_keys:
          fingerprints:
            - "df:fe:3e:ee:15:bd:fb:a1:15:0d:74:78:65:98:db:76"
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run:
          name: 'Generate Version Number'
          command: |
            npm run release -- --release-as patch --no-verify
            echo export VERSION=$(npx -c 'echo \"$npm_package_version\"') >> $BASH_ENV
            git rev-parse HEAD > gitcommit
      - run:
          name: 'Build for CDN'
          command: |
            export NODE_ENV=production
            export WEBEX_SCOPE="Identity:OAuthClient webexsquare:get_conversation webexsquare:admin spark:people_read spark:rooms_read spark:rooms_write spark:memberships_read spark:memberships_write spark:messages_read spark:messages_write spark:applications_read spark:applications_write spark:teams_read spark:teams_write spark:team_memberships_read spark:team_memberships_write spark:bots_read spark:bots_write spark:kms"

            BUILD_PUBLIC_PATH="https://code.s4d.io/widget-space/archives/${VERSION}/" npm run build:package widget-space

            BUILD_PUBLIC_PATH="https://code.s4d.io/widget-space/archives/${VERSION}/" npm run build sri widget-space

            BUILD_BUNDLE_PUBLIC_PATH="https://code.s4d.io/widget-space/archives/${VERSION}/"

            BUILD_PUBLIC_PATH="https://code.s4d.io/widget-space/archives/${VERSION}/demo/" npm run build:package widget-space-demo

            BUILD_PUBLIC_PATH="https://code.s4d.io/widget-recents/archives/${VERSION}/" npm run build:package widget-recents

            BUILD_PUBLIC_PATH="https://code.s4d.io/widget-recents/archives/${VERSION}/" npm run build sri widget-recents

            BUILD_BUNDLE_PUBLIC_PATH="https://code.s4d.io/widget-recents/archives/${VERSION}/"

            BUILD_PUBLIC_PATH="https://code.s4d.io/widget-recents/archives/${VERSION}/demo/" npm run build:package widget-recents-demo

            BUILD_PUBLIC_PATH="https://code.s4d.io/widget-demo/archives/${VERSION}/" npm run build:package widget-demo

            npm run es5-check:dist
      - run:
          name: 'Push to upstream/master'
          command: git push upstream HEAD:master
      - run:
          name: 'Push tag to upstream/master'
          command: git push --tags upstream
      - run:
          name: 'Publish to NPM'
          command: npm run publish:components
      - persist_to_workspace:
          root: ~/react-widgets
          paths:
            - package.json
            - packages/node_modules/@ciscospark/widget-space/dist
            - packages/node_modules/@ciscospark/widget-recents/dist
            - packages/node_modules/@ciscospark/widget-space-demo/dist
            - packages/node_modules/@ciscospark/widget-recents-demo/dist
            - packages/node_modules/@ciscospark/widget-demo/dist

  deploy_to_cdn:
    executor: main-executor
    working_directory: ~/react-widgets
    steps:
      - checkout
      - restore_workspace
      - run:
          name: 'Grab Version Number'
          command: |
            echo export VERSION_NUMBER=$(npx -c 'echo \"$npm_package_version\"') >> $BASH_ENV
      - run:
          name: 'Verify version number'
          command: |
            echo ${VERSION_NUMBER}
      - aws-s3/sync:
          from: ~/react-widgets/packages/node_modules/@ciscospark/widget-space/dist
          to: s3://${AWS_BUCKET}/widget-space/latest
          overwrite: true
      - aws-s3/sync:
          from: ~/react-widgets/packages/node_modules/@ciscospark/widget-space/dist
          to: s3://${AWS_BUCKET}/widget-space/archives/${VERSION_NUMBER}
      - aws-s3/sync:
          from: ~/react-widgets/packages/node_modules/@ciscospark/widget-space-demo/dist
          to: s3://${AWS_BUCKET}/widget-space/latest/demo
          overwrite: true
      - aws-s3/sync:
          from: ~/react-widgets/packages/node_modules/@ciscospark/widget-space-demo/dist
          to: s3://${AWS_BUCKET}/widget-space/archives/${VERSION_NUMBER}/demo
      - aws-s3/sync:
          from: ~/react-widgets/packages/node_modules/@ciscospark/widget-recents/dist
          to: s3://${AWS_BUCKET}/widget-recents/latest
          overwrite: true
      - aws-s3/sync:
          from: ~/react-widgets/packages/node_modules/@ciscospark/widget-recents/dist
          to: s3://${AWS_BUCKET}/widget-recents/archives/${VERSION_NUMBER}
      - aws-s3/sync:
          from: ~/react-widgets/packages/node_modules/@ciscospark/widget-recents-demo/dist
          to: s3://${AWS_BUCKET}/widget-recents/latest/demo
          overwrite: true
      - aws-s3/sync:
          from: ~/react-widgets/packages/node_modules/@ciscospark/widget-recents-demo/dist
          to: s3://${AWS_BUCKET}/widget-recents/archives/${VERSION_NUMBER}/demo
      - aws-s3/sync:
          from: ~/react-widgets/packages/node_modules/@ciscospark/widget-demo/dist
          to: s3://${AWS_BUCKET}/widget-demo/latest
          overwrite: true
      - aws-s3/sync:
          from: ~/react-widgets/packages/node_modules/@ciscospark/widget-demo/dist
          to: s3://${AWS_BUCKET}/widget-demo/archives/${VERSION_NUMBER}

  promote_prerelease_to_production:
    executor: main-executor
    working_directory: ~/react-widgets
    steps:
      - aws-s3/sync:
          from: s3://${AWS_BUCKET}/widget-space/prerelease
          to: s3://${AWS_BUCKET}/widget-space/production
          overwrite: true
      - aws-s3/sync:
          from: s3://${AWS_BUCKET}/widget-recents/prerelease
          to: s3://${AWS_BUCKET}/widget-recents/production
          overwrite: true
      - aws-s3/sync:
          from: s3://${AWS_BUCKET}/widget-demo/prerelease
          to: s3://${AWS_BUCKET}/widget-demo/production
          overwrite: true

  promote_latest_to_prerelease:
    executor: main-executor
    working_directory: ~/react-widgets
    steps:
      - aws-s3/sync:
          from: s3://${AWS_BUCKET}/widget-space/latest
          to: s3://${AWS_BUCKET}/widget-space/prerelease
          overwrite: true
      - aws-s3/sync:
          from: s3://${AWS_BUCKET}/widget-recents/latest
          to: s3://${AWS_BUCKET}/widget-recents/prerelease
          overwrite: true
      - aws-s3/sync:
          from: s3://${AWS_BUCKET}/widget-demo/latest
          to: s3://${AWS_BUCKET}/widget-demo/prerelease
          overwrite: true

workflows:
  run_all_tests:
    jobs:
      - install:
          filters:
                branches:
                  ignore:
                      - master
      - build_for_tests:
          requires:
            - install
      - unit_tests_and_linting:
          requires:
            - install
      - journey_tests_chrome:
          requires:
            - build_for_tests
      - journey_tests_firefox:
          requires:
            - journey_tests_chrome
  build_for_cdn:
    jobs:
      - install:
          filters:
              branches:
                only: master
      - version_and_publish:
          requires:
              - install
      - deploy_to_cdn:
          requires:
              - version_and_publish
  promotions:
    triggers:
      - schedule:
          # Wednesdays @ 7AM UTC | 3AM EST | 12AM PST
          cron: "0 7 * * 3"
          filters:
            branches:
              only:
                - master
    jobs:
     - promote_prerelease_to_production
     - promote_latest_to_prerelease:
        requires:
          - promote_prerelease_to_production

