.section {
  background-color: white;
  width: 95%;
  margin: 25px auto 0;
  padding: 10px 25px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
}
