body {
  font-size: 14px;
}

.section {
  background-color: white;
  width: 95%;
  margin: 25px auto 0;
  padding: 10px 25px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
}

.runningDemosSticky {
  position: sticky;
  bottom: 0;
}

.runningDemosBottom {
  height: 625px;
  position: relative;
  border: 1px solid;
  background-color: #39393b;
}

.widgetSpaceComponentContainer {
  position: absolute;
  right: 10px;
  bottom: 0;
  z-index: 99;
  width: 500px;
  height: 600px;
  background-color: #fff;
  border: 1px solid;
}

.widgetSpaceComponentContainer > div {
  height: 100%;
}

.widgetRecentsComponentContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 500px;
  height: 600px;
  background-color: #fff;
  border: 1px solid;
}

.widgetRecentsComponentContainer > div {
  height: 100%;
}


.exampleCode {
  padding: 15px;
  overflow: scroll;
}

.exampleCode pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.hidden {
  visibility: hidden;
}

/* Button at the center bottom that sticks widgets */
.stickyButton {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
