.fileStagingArea {
  position: relative;
  display: flex;
  overflow-y: auto;
  background-color: hsla(240, 5%, 96%, 0.2);
  border-bottom: 1px solid #ebebec;
}

.files {
  display: flex;
  max-height: 75px;
  margin: 5px;
  overflow-y: auto;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.chipContainer {
  width: 150px;
  height: 50px;
  margin: 5px;
}
