.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 160px;
  border-bottom: 1px solid #E0E0E0;
}

.menu h5 {
  color: #666666;
}

.info {
  margin-top: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signout div {
  color: black !important;
}
