.callInactiveContainer {
  position: relative;
  display: flex;
  margin: auto;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
}

.personName {
  font-size: 32px;
  font-weight: 200;
  color: #4f5051;
}

.callControls {
  z-index: 100;
  margin: 34px 16px 0;
  text-align: center;
}

.incomingCallLabel {
  font-size: 14px;
  font-weight: 300;
  color: #858688;
}

.callControls .answerButton {
  background-color: #30d557;
}

.callControls .declineButton {
  background-color: #ff513d;
}
