.widgetHeader {
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  height: 46px;
}

.widgetMenu {
  width: 60px;
  padding: 10px;
}

.widgetTitle {
  flex: 2;
  font-size: 14px;
  font-weight: 600;
  line-height: 46px;
  color: #4f5051;
  text-align: center;
}

.menuButton {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
