.external {
  display: flex;
  align-items: center;
  height: 33px;
  margin: 8px;
  font-size: 10px;
  font-weight: 200;
  color: #FFB400;
  line-height: 1.2;
}

.externalIcon {
  display: flex;
  margin: 0 8px;
  width: 33px;
  justify-content: center;
  align-items: center;
}
