$C: wxc-call-select-popover;

.#{$C} {

  &__item {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__item-type {
    text-transform: capitalize;

    &:after {
      content: "\00a0 ";
    }
  }
}
