$C: wxc-speed-dial-item;

$name-color: var(--wxc-text-color, black);

$speed-dial-list-item-background: var(--listitem-background, #ffffff);
$speed-dial-list-item-border: 1px solid var(--scrollbar-track-background, rgba(0, 0, 0, 0.07));
$speed-dial-list-item-box-shadow: 0 0 4px rgb(0 0 0 / 10%);
$speed-dial-list-item-border-radius: 10px;

$speed-dial-list-item__actions-border: 1px solid var(--scrollbar-track-background, #dedede);
$speed-dial-list-item__status-color: rgba(0, 0, 0, 0.6);

$speed-dial-list-width: 500px;
$speed-dial-list-item-width: 105px;
$speed-dial-list-grid-gap: 0.5rem;
$speed-dial-list-grid-template: repeat(
                auto-fit,
                minmax(min(100% / 4, max(105px, 100% / 5)), 1fr)
);

$speed-dial-min-width: 110px;
$speed-dial-min-height: 115px;

.#{$C} {
  user-select: none;
  position: relative;
  background: $speed-dial-list-item-background;
  border-radius: $speed-dial-list-item-border-radius;
  min-height: $speed-dial-min-height;
  display: flex;
  align-items: center;
  cursor: pointer;

  &__action {
    display: none;
  }


  &__drag-handle {
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    min-height: 30px;
    display: flex;
    text-align: center;
    padding-top: .5rem;
  }

  &__draggable {
    height: 75px;
  }

  &__drag-icon {
    display: flex;
    text-align: center;
    visibility: hidden;
    cursor: grab;

    svg {
      height: 20px;
      width: 20px;
    }
  }


  &__actions {
    border-radius: 50%;
    width: 3rem !important;
    height: 3rem !important;
    color: var(--theme-text-primary-normal);
    margin-bottom: .5rem;
    position: relative;
  }

  &:hover, &:focus, &:active {
    .#{$C}__drag-icon {
      visibility: visible;
    }

    .#{$C}__drag-handle:not(:hover) + .#{$C}__actions {
      .#{$C}__avatar {
        opacity: 0.1;
      }

      .#{$C}__action {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }

  &:hover, &--selected {
    background: var(--theme-button-secondary-hover);
  }

  &:active {
    background: var(--theme-button-secondary-pressed);

    .#{$C}__avatar {
      opacity: 0 !important;
    }
  }

  &:disabled {
    background: var(--theme-button-secondary-disabled);
  }

  &__content {
    width: 100%;
  }

  &__separator {
    margin: .2rem .75rem;

    &:after {
      border-color: var(--modal-primary-border-color);
    }
  }

  &__name {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: $speed-dial-list-item-width - 5px;
    overflow: hidden;
  }

  &__number,
  &__status {
    color: var(--label-secondary-text);
  }

  &__menu ul {
    padding-left: 0;
  }
}

.md-theme-darkWebex .wxc-sortable-item {
  --theme-grabbing-background: #111111;
}


// Sortable item is outside theme provider
.wxc-sortable-item {
  --theme-color-50: rgba(52, 146, 235, 1);
  --theme-color-60: rgba(17, 112, 207, 1);
  --theme-grabbing-background: #E3E3E3;

  .#{$C} {
    background: var(--theme-grabbing-background) !important;
    //box-shadow: var(--md-theme-globals-elevation-2, 0 0.5rem 1rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(0, 0, 0, 0.11));
    border: 2px solid var(--theme-color-60);
    box-shadow: 0 1px 6px -1px var(--theme-color-60);
  }

  .#{$C}__drag-handle {
    visibility: visible;
    cursor: grabbing;
  }

  .#{$C}__drag-icon {
    visibility: visible;
    color: var(--theme-color-60);
  }
}



