.separator {
  display: flex;
  padding-top: 17px;
  overflow: hidden;
  font-size: 13px;
  color: #d2d3d4;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.separator.informative {
  color: #049fd9;
  text-transform: uppercase;
}

.separatorText {
  position: relative;
  display: inline-block;
  font: CiscoSans, 'Helvetica Neue', Arial;
  font-weight: 200;
  line-height: 1.5em;
  letter-spacing: 0.015em;
  color: #858993;
}

.separatorText::before,
.separatorText::after {
  position: absolute;
  top: 50%;
  width: 999px;
  height: 1px;
  background-color: #d2d3d4;
  content: '';
}

.separatorText::before {
  right: 100%;
  margin-right: 20px;
}

.separatorText::after {
  left: 100%;
  margin-left: 20px;
}

.separatorText.informative::before,
.separatorText.informative::after {
  background-color: #049fd9;
}
