.component {
  position: relative;
  display: block;
  min-height: 60px;
  margin-bottom: 10px;
  clear: both;
}

.chip-base {
  width: 300px;
}

.frame {
  position: relative;
  width: 600px;
  height: 600px;
  overflow: auto;
}

.widget,
.widget > div {
  position: relative;
  width: 600px;
  height: 600px;
  overflow: hidden;
}
